@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import './colors.css';
@import './splash.css';
@import './masthead.css';
@import './login.css';
@import './account.css';

* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: .75rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--dark-blue);
}

button {
  -webkit-appearance: none;
}

button:focus, button:active {
  outline: none;
}

.primary-button {
  background-color: var(--bright-green);
}

.primary-button:active {
  background-color: var(--dark-blue);
}

.secondary-button {
  background-color: var(--light-grey);
}

.secondary-button:active {
  box-shadow: 0 1px var(--dark-blue) inset;
  background-color: var(--grey-blue);
}
