@import './colors.css';

.masthead {
  background-color: var(--dark-blue);
  border-bottom: 1px solid var(--pink);
  padding: 2rem 0 1rem;
  color: var(--near-white);
}

.mini-masthead {
  position: fixed;
  top: 0;
  width: 100%;
  padding: .25rem;
  text-align: right;
}

.masthead .mini-button {
  vertical-align: top;
}

.top-right-corner {
  position: absolute;
  top: 2rem; right: 5rem;
}

button.more-info:focus, button.more-info:active {
  outline: none;
}
